<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="navbar">
        <li>
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerLink="/customers" routerLinkActive="active" ariaCurrentWhenActive="page">Customer</a>
        </li>
        <li>
            <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Product</a>
        </li>
        <li>
            <a routerLink="/sales" routerLinkActive="active" ariaCurrentWhenActive="page">Sale</a>
        </li>
        <li>
            <a routerLink="/invoices" routerLinkActive="active" ariaCurrentWhenActive="page">Invoice</a>
        </li>
    </div>
</nav>
<router-outlet></router-outlet>