<!-- Login form section -->
<!-- <div class="main">
    <form (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="username" placeholder=" Enter your username " id="username " name="username ">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="text" [(ngModel)]="password" placeholder=" Enter your password " id="password " name="password ">
        </mat-form-field>
        <button type="submit" class="form-btn">Submit Form</button>
    </form>
</div> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="navbar">
        <li>
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerLink="/customers" routerLinkActive="active" ariaCurrentWhenActive="page">Customer</a>
        </li>
        <li>
            <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Product</a>
        </li>
        <li>
            <a routerLink="/sales" routerLinkActive="active" ariaCurrentWhenActive="page">Sale</a>
        </li>
        <li>
            <a routerLink="/invoices" routerLinkActive="active" ariaCurrentWhenActive="page">Invoice</a>
        </li>
    </div>
</nav>
<router-outlet></router-outlet>