<div class="customer-add-dialog">
    <h2>Add New Customer</h2>
    <form class="add-customer-form container" (ngSubmit)="addCustomer()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="name" placeholder=" Enter your name " id="username " name="username">
        </mat-form-field>
        <mat-form-field>
            <!-- <mat-label class="mb-4">Today's Date</mat-label> -->
            <input matInput type="Date" [(ngModel)]="date" id="date " name="date ">
        </mat-form-field>
        <button type="submit" class="form-btn btn btn-primary">Submit Form</button>
    </form>
</div>